<div class="absolute w-full flex items-center justify-center h-full bottom-0 z-50 right-0 top-0 left-0 bg-gray-900 bg-opacity-90">
    <div class="w-full max-w-md  h-full max-h-[85vh] rounded bg-white overflow-y-auto">
      <div class="flex items-center justify-between shadow-md p-2">
        <p class="font-bold text-lg">Create Task</p>
        <i class="fas fa-close text-xl"></i>
      </div>
      <div class="grid p-2">
        <form class="grid gap-2" (ngSubmit)="handleSubmit()" [formGroup]="myForm">
          <div class="grid gap-1">
            <label for="title">Title</label>
            <input id="title" class="p-2 border outline-none rounded bg-blue-50 border-blue-300" type="text" formControlName="title" value="" placeholder="Enter a title">
          </div>
          <div  class="grid gap-1">
            <label for="description" for="">Description</label>
            <textarea  id="description"  rows="4" class="p-2 resize-none row-auto border outline-none text-wrap rounded bg-blue-50 border-blue-300" type="text" formControlName="title" value="" placeholder="Enter a description">
            </textarea>
          </div>
          <div class="flex flex-col gap-1  justify-between sm:flex-row sm:gap-5 sm:items-center">
            <div class="grid gap-1 w-full">
              <label for="assigne">Assigned To</label>
              <input id="assigne" class="p-2 border outline-none rounded bg-blue-50 border-blue-300" type="text" formControlName="assignedTo" value="" placeholder="Enter a title">
            </div>
            <div class="grid gap-1 w-full">
              <label for="createdat">created At</label>
              <input id="createdat" class="p-2 border outline-none rounded bg-blue-50 border-blue-300" type="text" formControlName="createdAt" value="" placeholder="Enter a title">
            </div>
          </div>
          <div class="flex flex-col gap-1  justify-between sm:flex-row sm:gap-5 sm:items-center">
            <div class="grid gap-1 w-full">
              <label for="priority">Priority</label>
              <input id="priority" class="p-2 border outline-none rounded bg-blue-50 border-blue-300" type="text" formControlName="priority" value="" placeholder="Enter a title">
            </div>
            <div class="grid gap-1 w-full">
              <label for="status">Status</label>
              <select id="status" value="" class="p-2 border outline-none rounded bg-blue-50 border-blue-300"  formControlName="status">
                <option disabled [defaultSelected]="true" class="" >--Select status--</option>
                <option>Open</option>
                <option>Started</option>
                <option>In Progress</option>
                <option>Complete</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
